.todo__item{
  	font-size: 1rem;
}
.todo__item button{
  	float: right;
  	width: 35px;
  	margin: 3px;
  	color: greenyellow;
  	background: #000;
  	border: 1px solid #fff;
  	border-radius: 3px;
  	padding: 6px;
  	cursor: pointer; 
}
.todo__label{
  	margin-left: 1.25rem;
  	line-height: 35px;
  	cursor: pointer;
  	user-select: none;
}
.todo__item.done .todo__label{
  	text-decoration: line-through;
}
.todo__item.important .todo__label{
	font-size: 1.4rem;
  	font-weight: bold;
  	color: greenyellow;
}
